<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nerdbank.GitVersioning" version="2.0.41" developmentDependency="true" />
  <package id="WixBuildTools.MsgGen" version="4.0.7" />
  <package id="WixBuildTools.XsdGen" version="4.0.7" />
  <package id="WixToolset.Core.InternalPackage" version="4.0.16" targetFramework="net40" />
  <package id="WixToolset.Dtf.Compression" version="4.0.5" />
  <package id="WixToolset.Dtf.Compression.Cab" version="4.0.5" />
  <package id="WixToolset.Dtf.Compression.Zip" version="4.0.5" />
  <package id="WixToolset.Dtf.Resources" version="4.0.5" />
  <package id="WixToolset.Dtf.WindowsInstaller" version="4.0.5" />
  <package id="WixToolset.Dtf.WindowsInstaller.Linq" version="4.0.5" />
  <package id="WixToolset.Dtf.WindowsInstaller.Package" version="4.0.5" />
</packages>