<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="LibComponents">
            <Component Directory="SdkLibFolder:\v140\x64\">
                <File Source="build\native\v140\x64\dutil.lib"/>
            </Component>
            <Component Directory="SdkLibFolder:\v140\x86\">
                <File Source="build\native\v140\x86\dutil.lib"/>
            </Component>
            <Component Directory="SdkLibFolder:\v141\x64\">
                <File Source="build\native\v141\x64\dutil.lib"/>
            </Component>
            <Component Directory="SdkLibFolder:\v141\x86\">
                <File Source="build\native\v141\x86\dutil.lib"/>
            </Component>

            <Component Directory="SdkLibFolder:\v140\x64\">
                <File Source="build\native\lib\v140\x64\wcautil.lib"/>
            </Component>
            <Component Directory="SdkLibFolder:\v140\x86\">
                <File Source="build\native\lib\v140\x86\wcautil.lib"/>
            </Component>
            <Component Directory="SdkLibFolder:\v141\x64\">
                <File Source="build\native\lib\v141\x64\wcautil.lib"/>
            </Component>
            <Component Directory="SdkLibFolder:\v141\x86\">
                <File Source="build\native\lib\v141\x86\wcautil.lib"/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
